jupyter
numpy
pandas
scikit-learn
matplotlib
plotly
plotly-express
cufflinks
psutil
jupyter_nbextensions_configurator
jupyter_contrib_nbextensions
psycopg2-binary
seaborn
boto3
scipy
ipywidgets
qgrid
pandas-profiling